<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
</head>

<body>
    <h1>Mongo file uploads</h1>
    <form action="/api/upload/item" method="POST" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" id="file">
            <label for="file">Choose File</label>
            <!-- <input type="hidden" name="collection" id="collection" value="products"> -->
        </div>
        <input type="Submit" value="Submit">

    </form>

    <hr>
    <% if(files){ %>
        <% files.forEach(function(file) { %>
            <div class="card card-body mb-3">
                <% if(file.isImage) { %>
                    <img src="item/image/<%= file.filename %>" alt="<%= file.filename %>">
                    <% } else { %>
                        <%= file.filename %>
                            <% } %>
                                <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                                    <button class="btn btn-danger btn-block mt-4">Delete</button>
                                </form>
            </div>
            <% }) %>
                <% } else { %>
                    <p>No files to show</p>
                    <% } %>
</body>

</html>