@import "../../globalStyles/_variables";

.gradient-bg {
	background: rgb(84, 122, 255);
	background: linear-gradient(
		149deg,
		rgba(84, 217, 255, 1) 22%,
		rgba(84, 122, 255, 1) 51%,
		rgba(255, 255, 255, 1) 51%
	);
}

.ilustration-container {
	height: 100vh;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		min-height: 65vh;
		min-width: 65vh;

		polygon {
			fill: $primaryColor;
		}
	}
}

.login-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-width: 40%;
}
