$primaryColor: #547aff;
$primaryColorLight: #90a9ff;
$primaryColorDark: #004fcb;

$secondaryColor: #ffa726;
$secondaryColorLight:#ffd95b;
$secondaryColorDark: #c77800;

$textColor: rgb(236, 236, 236);
$lightTextColor: rgb(187, 187, 187);

$success: rgb(0, 139, 0);
$danger: rgb(187, 0, 0);
$update: rgb(0, 80, 172);