@import "../../globalStyles/_variables";

.space-y {
	margin-top: 3rem;
}

.image-container {
	display: flex;
	justify-content: center;
}

.user-image {
	min-width: 5rem;
	min-height: 5rem;
	max-width: 5rem;
	max-height: 5rem;
	border-radius: 100%;
	overflow: hidden;

	.image-container {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

.hover-content {
	width: 5rem;
	height: 5rem;
	display: none;
	background-color: rgba(153, 153, 153, 0.185);
	border-radius: 100%;
	z-index: 10;
	align-items: flex-end;
	justify-content: flex-end;
	transform: translateX(-100%);

	svg {
		color: $primaryColor;
		font-size: 15pt;
	}
}

.hoverable:hover .hover-content {
	float: left;
	display: flex;
}

.hoverable:hover {
	transform: translateX(2.5rem);
}

.buttons-container {
	display: flex;
	justify-content: center;

	button {
		width: 30%;
	}

	.cancel {
		background-color: $danger;
	}

	.save {
		background-color: $success;
	}
}

.field {
	max-width: 40%;
	margin: 0 auto;

	div:first-child {
		margin-top: 2.5rem;
	}

	div {
		color: black;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 2.5rem;

		input {
			margin-bottom: 0;
			max-width: 100%;
		}

		p {
			margin: 0;
		}
	}
}

@media screen and (max-width: 550px) {
	.field {
		max-width: 60%;
	}
}

@media screen and (max-width: 425px) {
	.field {
		max-width: 80%;
	}
}
