@import "../../globalStyles/_variables";

.space {
	margin: 3rem;
}

.top-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	flex-direction: column;
	flex: 3;
}

.medium-container {
	flex: 2;
}

.user-image {
	min-width: 13rem;
	min-height: 13rem;
	max-width: 13rem;
	max-height: 13rem;
	border-radius: 100%;
	overflow: hidden;

	.image-container {
		height: 13rem;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

.justify-center {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;

	h2 {
		font-weight: 300;
	}
}

.card-big {
	min-width: 65vw;
	max-width: 500px;
	// min-height: 50vh;
	// max-height: 50vh;
	display: flex;
	// overflow: hidden;
}

.hover-content {
	min-width: 13rem;
	min-height: 13rem;
	max-width: 13rem;
	max-height: 13rem;
	display: none;
	background-color: rgba(153, 153, 153, 0.185);
	border-radius: 100%;
	z-index: 10;
	align-items: flex-end;
	justify-content: flex-end;
	transform: translate(0%, -100%);

	svg {
		color: $primaryColor;
		font-size: 15pt;
	}
}

.hoverable {
	max-height: 385px;
	overflow: hidden;
}

.hoverable:hover .hover-content {
	display: flex;
}

.hoverable:hover .additionalData {
	transform: translate(0, -208px);
}

.hoverable:hover {
	transform: translate(0%, 56px);
}

.additionalData {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		font-size: 8pt;

		span {
			font-size: 10pt;
			color: $primaryColor;
		}
	}

	.admin {
		border: 1px solid $success;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		min-width: 4rem;

		span {
			font-size: 8pt !important;
			font-weight: 600;
			color: $success;
		}
	}
}

.buttons-container {
	margin: 0 2rem;
	button {
		width: 70%;
		max-width: 13rem;
		margin: 10px;
		padding: 0;
		display: inline-block;
	}

	.cancel {
		background-color: $danger;
	}

	.save {
		background-color: $success;
	}
}

.field {
	max-width: 207px;
	margin: 5px auto;

	div:first-child {
		margin-top: 2.5rem;
	}

	div {
		color: black;
		align-items: center;
		justify-content: flex-start;
		max-height: 30px;

		input {
			margin-bottom: 0;
			max-width: 100%;
		}

		div p,
		h6 {
			margin: 0;
		}
	}
}

.info-label {
	text-align: left;
}

@media screen and (max-width: 768px) {
	.card-big {
		min-width: 0;
		min-height: 0;
		max-height: 100vh;
		display: block;
	}

	.image-container {
		flex-direction: row;
	}

	.additionalData {
		margin-left: 2.5rem;
		max-width: 100px;
	}

	.top-container {
		flex: 10;
		flex-direction: row;
		justify-content:center;
		.info {
			display: flex;
			max-width: min-content;
		}
	}

	.user-image {
		min-width: 5rem;
		min-height: 5rem;
		max-width: 5rem;
		max-height: 5rem;

		.image-container {
			height: 5rem;
			width: 100%;
		}
	}

	.buttons-container button {
		width: 30%;
	}

	.hover-content {
		min-width: 5rem;
		min-height: 5rem;
		max-width: 5rem;
		max-height: 5rem;
		transform: translateX(-100%);
	}

	.hoverable:hover .additionalData {
		transform: translateX(-5rem);
	}

	.hoverable:hover {
		transform: translateX(2.5rem);
	}
}
